<% cover = Enum.find(@story["photos"], fn p -> p["type"] == "cover" end) %>
<%= if cover != nil do %>
    <div class="moul-cover w-full h-[350px] md:h-[450px] lg:h-[600px] xl:h-[650px] relative mb-16">
        <%= live_redirect to: Routes.photo_index_path(@socket, :show, @story["slug"], cover["hash"]) do %>
            <.picture photo={cover} type="profile_cover" />
        <% end %>
    </div>
<% end %>
<section class="my-16">
    <div class="flex justify-center">
        <%= live_redirect to: Routes.live_path(@socket, MoulWeb.HomeLive.Index) do %>
            <.picture photo={@profile["picture"]} type="profile_picture" />
        <% end %>
    </div>
    <div class="text-center pb-2 px-6">
        <%= live_redirect to: Routes.live_path(@socket, MoulWeb.HomeLive.Index), class: "inline-flex" do %>
            <h2 class="text-2xl md:text-3xl font-bold leading-normal text-neutral-900 dark:text-neutral-100"><%= @profile["name"] %></h2>
        <% end %>
        <p class="leading-normal text-neutral-700 dark:text-neutral-400 mb-2"><%= @profile["bio"] %></p>
    </div>
    <div class="flex justify-center">
        <a class="mx-2" href={"https://github.com/" <> @profile["social"]["github"]}>
            <.svg name="github" />
        </a>
        <a class="mx-2" href={"https://twitter.com/" <> @profile["social"]["twitter"]}>
            <.svg name="twitter" />
        </a>
        <a class="mx-2" href={"https://www.youtube.com/" <> @profile["social"]["youtube"]}>
            <.svg name="youtube" />
        </a>
    </div>
</section>
<%= if @title != nil do %>
    <div class="moul-content-title mx-auto font-bold max-w-3xl mb-6 text-neutral-900 dark:text-neutral-50 px-6 xs:px-0">
        <h1 class="text-3xl md:text-5xl"><%= @title %> </h1>
    </div>
<% end %>

<div class="mx-auto">
    <%= for block <- @story["blocks"] do %>
        <div class={"mx-auto leading-relaxed moul-content-" <> block["type"]}>
        <%= case block["type"] do %>
            <% "heading" -> %>
                <h2 class="px-6 xs:px-0 text-2xl md:text-3xl font-bold sm:text-4xl max-w-3xl mx-auto my-8 md:my-10 text-neutral-800 dark:text-neutral-100"><%= block["text"] %></h2>
            <% "subheading" -> %>
                <h3 class="px-6 xs:px-0 text-xl md:text-2xl font-bold sm:text-3xl max-w-3xl mx-auto my-8 md:my-10 text-neutral-800 dark:text-neutral-100"><%= block["text"] %></h3>
            <% "paragraph" -> %>
                <p class="px-6 xs:px-0 text-lg md:text-xl max-w-3xl mx-auto my-8 md:my-10 text-neutral-700 dark:text-neutral-200"><%= block["text"] %></p>
            <% "quote" -> %>
                <blockquote class="px-6 xs:px-0 text-lg md:text-xl max-w-3xl mx-auto my-8 md:my-10 text-neutral-800 border-neutral-800 dark:text-neutral-400 dark:border-neutral-400 border-l-4 pl-4">
                    <%= block["text"] %>
                </blockquote>
            <% "photos" -> %>
                <div class="relative">
                    <%= for photo <- Enum.filter(@story["photos"], fn p -> p["type"] == block["text"] end) do %>
                        <%= live_redirect to: Routes.photo_index_path(@socket, :show, @story["slug"], photo["hash"]) do %>
                            <.picture photo={photo} type="grid" />
                        <% end %>
                    <% end %>
                </div>
            <% _ -> %>
        <% end %>
        </div>
    <% end %>
</div>

<footer class="flex flex-col w-full text-center px-6 my-16 text-neutral-500 dark:text-neutral-400">
    <p>Copyright © <%= @profile["name"] %>. All Rights Reserved.</p>
</footer>